:root {
    --text-color: #085e41;
    --primary-color: #93fdb6;
    --secondary-color: #e0ff98;
    --botton-secondary-color: #2fca09;
    --error-color: #f44336;
    --success-color: #4caf50;
    --white: #ffffff;
    --black: #000000;
    --gray: #e4e4e488;
}

body {
    font-family: 'nunito', sans-serif, 'poppins', sans-serif;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    text-align: center;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: var(--white);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px var(--gray);
}

h1 {
    color: var(--text-color);
    margin-bottom: 10px;
}

#score {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--success-color);
}

#emoji {
    font-size: 48px;
    margin-bottom: 20px;
}

.game h2 {
    font-size: 20px;
    margin: 20px 0;
}

input[type="text"] {
    padding: 10px;
    width: 80%;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid var(--gray);
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background-color: var(--botton-secondary-color);
    color: var(--white);
    margin: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 10px;
    background: var(--gray);
}

#feedback {
    font-size: 22px;
    margin-top: 15px;
}

.correct {
    color: var(--success-color);
}

.incorrect {
    color: var(--error-color);
}

.buttons {
    margin-top: 30px;
}

